<header>
  <div>
    <a href="/">Logo</a>
  </div>
  <div class="container-links">
    <a class="btn-main" href="/login">Log In</a>
    <a class="btn-main" href="/register">Register</a>
  </header>
</div>