<div class="container-login">
  <h1>Log In</h1>
  <div>
    <form action="/api/sessions/login" method="post">
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />

      </div>
      <button type="submit" class="right">Login</button>
    </form>
  </div>
</div>